body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    background: url("bgimg.png") center/cover no-repeat fixed; /* Adjust the path */
    background-color: rgba(169, 169, 169, 0.5);
}

.signin-btn {
    background-color: #fff;
    color: #333;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: transform 0.3s;
} 

.signin-btn:hover {
    background-color: #ebebeb;
    transform: scale(1.03);
}

header {
    background: linear-gradient(to right, #4CAF50, #45a049);
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}

header img{
    width: 22%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    padding: 3em;
    border-radius: 10px;
    margin-left: 0.5%;
    margin-top: 0%;
}

section pre{
    color: #fff;
    margin-bottom: 0%;
    letter-spacing: 2px;
    font-size: 3em; /* Adjust the font size as needed */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    color: #ebe9e9;
    font-size: 1.2em;
}

.register-button {
    display: inline-block;
    padding: 1em 2em;
    margin-top: 1em;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #45a049;
}


